$navbar_spacer_color: lighten(#F29535, 15%);
$nav_color: $black;
$nav_bg_color_hover: $color-primary;
$nav_border_color: lighten($gray, 20%);
$navoverlay_color: rgba(34, 34, 34, 0.99);

.nav_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: map-get($layers, navoverlay);
	color: $white;
	visibility: hidden;
	transform: translateY(-100%);
	transition: transform 0.5s cubic-bezier(.7, 0, .3, 1), visibility 0s 0.5s;
	.when-overlay & {
		visibility: visible;
		transform: translateY(0%);
		transition: transform 0.5s;
	}
}

.navbar {
	position: relative;

	> .container {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&.is-primary {

	}

	&.is-secondary {
		display: flex;
		flex-direction: row;
		border-bottom: $base-font-size/2 solid $color-secondary;
		@include space(1);
	}
}

.navbar__brand {
	img {
		display: block;
	}
}

.navbar__right {
	margin-left: auto;
}

.navbar__title {
	@include font-size(1);
	text-transform: uppercase;
	background: $color-secondary;
	color: $white;
	text-align: right;
	min-width: 14em;
	@extend .pr-4;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		border-style: solid;
		border-width: $base-line-height;
		border-bottom-color: transparent;
		border-right-color: transparent;
	}
}

.navbar__menu {
	display: flex;
	flex-direction: row;

	.is-primary & {
		background: $white;
		position: absolute;
		z-index: map-get($layers, navmenu);
		border: 1px solid $nav_border_color;
		top: 100%;
		@extend .pl-2;
		@extend .pr-2;
		@include space(2, left);
		@include space(10, min-width);
		color: $black;
		display: none;
	}

	.navbar__right & {
		text-align: right;
		justify-content: flex-end;
	}

	.navbar__menuitem & {
		position: static;
		border: 0;
	}
}

.navbar__menuitem {
	position: relative;
	.is-secondary & {
		@extend .ml-2;
		&:last-child {
			.navbar__link {
				border-right: 0;
			}
		}
	}
}

.navbar__link {
	display: block;
	position: relative;
	@extend .p-2;
	.is-primary & {
		border-bottom: 1px solid $nav_border_color;
		&:hover {
			background-color: $nav_bg_color_hover;
		}
	}
	.is-secondary & {
		border-right: 1px solid $navbar_spacer_color;
		@extend .pl-2;
		@extend .pr-2;
		@extend .mt-2;
		@extend .mb-2;
	}

	.is-parent > & {
		background: url('../images/icon-menu_expand.png') 95% center no-repeat;
	}

	&.is-on + .navbar__menu {
		display: block;
	}
}

.navbar__toggle {
	display: block;
	position: absolute;
	z-index: map-get($layers, navtoggle);
	@include space(1, top);
	@include space(1, left);
	@include space(1, width);
	@include space(1, height);
	span {
		background: $nav_color;
		display: inherit;
		position: relative;
	}
	span,
	&:after,
	&:before {
		width: 100%;
		@include space(.25, height);
		background-color: $nav_color;
		transition: all 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
		backface-visibility: hidden;
	}

	&:after,
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: -9px;
	}

	&:after {
		top: 9px;
	}

	&.is-on {
		span {
			background: transparent;
		}
		&:before {
			transform: rotate(45deg) translate(5px, 5px);
		}
		&:after {
		  	transform: rotate(-45deg) translate(7px, -8px);
		}

		+ .navbar__menu {
			display: block;
		}
	}
}

.navbar__heading {
	@include space(3, padding-left);
	@include font-size(1);
}
