@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('MyriadPro/MyriadPro-Regular.eot');
  src: url('MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('MyriadPro/MyriadPro-Regular.woff') format('woff'),
       url('MyriadPro/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('MyriadPro/MyriadPro-Bold.eot');
  src: url('MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('MyriadPro/MyriadPro-Bold.woff') format('woff'),
       url('MyriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
